<div class="level is-mobile has-text-white has-background-black is-marginless" style="outline: 1pt; outline-color: white; outline-style: solid">
  <div class="level-left">
    <div class="level-item" (click)="descriptionToggle()">
      <span [ngClass]="techColorClasses" class="icon is-medium">
        <i class="fas fa-arrow-alt-circle-up"></i>
      </span>
      <span>{{tech.tech.name}}</span>
    </div>
  </div>
  <div class="level-right">
    <app-tech-color [techColors]="tech.tech.requirements" [provided]="provided"></app-tech-color>
    <div class="level-item">
      <button class="button is-dark" (click)="researchMe()" style="border-bottom: white solid 1px; border-top: white solid 1px;">
        <span *ngIf="!tech.available" class="icon is-small has-text-danger">
          <i class="fas fa-times-circle"></i>
        </span>
        <span *ngIf="tech.available && !tech.researched" class="icon is-small has-text-warning">
          <i class="far fa-check-circle"></i>
        </span>
        <span *ngIf="tech.researched" class="icon is-small has-text-success">
          <i class="fas fa-check-circle"></i>
        </span>
      </button>
    </div>
  </div>
</div>
<div class="has-background-dark has-text-white content is-marginless" *ngIf="showDescription===true">
  <p [innerHTML]="tech.tech.description"></p>
</div>