<div class="field has-addons">
  <p class="control is-expanded">
    <button [ngClass]="techColorClasses" class="button is-fullwidth is-outlined" (click)="descriptionToggle()">{{tech.tech.name}}</button>
  </p>
  <p class="control">
    <app-tech-color [techColors]="tech.tech.requirements"></app-tech-color>
  </p>
  <p class="control">
    <button class="button" (click)="researchMe()">
      <span *ngIf="!tech.available" class="icon is-small has-text-danger">
        <i class="fas fa-times-circle"></i>
      </span>
      <span *ngIf="tech.available&&!tech.researched" class="icon is-small has-text-warning">
        <i  class="far fa-check-circle"></i>
      </span>
      <span *ngIf="tech.researched" class="icon is-small has-text-success">
        <i class="fas fa-check-circle"></i>
      </span>

    </button>
  </p>
</div>
<div class="box" *ngIf="showDescription===true">
  <div class="content">
    <p>{{tech.tech.description}}</p>
  </div>
</div>
