<div class="missingTech">
  @if (deltaTechColor()[colorEnum.red]!==undefined&&deltaTechColor()[colorEnum.red]>0) {
    @for (dot of dots(deltaTechColor()[colorEnum.red]); track $index) {
      <span class="dot" style="background-color: red"></span>
    }
  }
  @if (deltaTechColor()[colorEnum.green]!==undefined&&deltaTechColor()[colorEnum.green]>0) {
    @for (dot of dots(deltaTechColor()[colorEnum.green]); track $index) {
      <span class="dot" style="background-color: green"></span>
    }
  }
  @if (deltaTechColor()[colorEnum.yellow]!==undefined&&deltaTechColor()[colorEnum.yellow]>0) {
    @for (dot of dots(deltaTechColor()[colorEnum.yellow]); track $index) {
      <span class="dot" style="background-color: yellow"></span>
    }
  }
  @if (deltaTechColor()[colorEnum.blue]!==undefined&&deltaTechColor()[colorEnum.blue]>0) {
    @for (dot of dots(deltaTechColor()[colorEnum.blue]); track $index) {
      <span class="dot" style="background-color: blue"></span>
    }
  }
  @if (deltaTechColor()[colorEnum.black]!==undefined&&deltaTechColor()[colorEnum.black]>0) {
    @for (dot of dots(deltaTechColor()[colorEnum.black]); track $index) {
      <span class="dot" style="background-color: black"></span>
    }
  }
</div>