<div class="missingTech">
    <div *ngIf="deltaTechColor[colorEnum.red]!==undefined&&deltaTechColor[colorEnum.red]>0">
        <mat-icon style="color: red" *ngFor="let i of Arr(deltaTechColor[colorEnum.red]).fill(0)">
            circle
        </mat-icon>
    </div>
    <div *ngIf="deltaTechColor[colorEnum.green]!==undefined&&deltaTechColor[colorEnum.green]>0">
        <mat-icon style="color: green" *ngFor="let i of Arr(deltaTechColor[colorEnum.green]).fill(0)">
            circle
        </mat-icon>
    </div>
    <div *ngIf="deltaTechColor[colorEnum.yellow]!==undefined&&deltaTechColor[colorEnum.yellow]>0">
        <mat-icon style="color: yellow" *ngFor="let i of Arr(deltaTechColor[colorEnum.yellow]).fill(0)">
            circle
        </mat-icon>
    </div>
    <div *ngIf="deltaTechColor[colorEnum.blue]!==undefined&&deltaTechColor[colorEnum.blue]>0">
        <mat-icon style="color: blue" *ngFor="let i of Arr(deltaTechColor[colorEnum.blue]).fill(0)">
            circle
        </mat-icon>
    </div>
    <div *ngIf="deltaTechColor[colorEnum.black]!==undefined&&deltaTechColor[colorEnum.black]>0">
        <mat-icon style="color: white" *ngFor="let i of Arr(deltaTechColor[colorEnum.black]).fill(0)">
            circle
        </mat-icon>
    </div>
</div>
