<div class="level-item">
    <div *ngIf="deltaTechColor[colorEnum.red]!==undefined&&deltaTechColor[colorEnum.red]>0">
        <span *ngFor="let i of Arr(deltaTechColor[colorEnum.red]).fill(0)" class="icon has-text-danger">
            <i class="far fa-circle"></i>
        </span>
    </div>
    <div *ngIf="deltaTechColor[colorEnum.green]!==undefined&&deltaTechColor[colorEnum.green]>0">
        <span *ngFor="let i of Arr(deltaTechColor[colorEnum.green]).fill(0)" class="icon has-text-success">
            <i class="far fa-circle"></i>
        </span>
    </div>
    <div *ngIf="deltaTechColor[colorEnum.yellow]!==undefined&&deltaTechColor[colorEnum.yellow]>0">
        <span *ngFor="let i of Arr(deltaTechColor[colorEnum.yellow]).fill(0)" class="icon has-text-warning">
            <i class="far fa-circle"></i>
        </span>
    </div>
    <div *ngIf="deltaTechColor[colorEnum.blue]!==undefined&&deltaTechColor[colorEnum.blue]>0">
        <span *ngFor="let i of Arr(deltaTechColor[colorEnum.blue]).fill(0)" class="icon has-text-link">
            <i class="far fa-circle"></i>
        </span>
    </div>
    <div *ngIf="deltaTechColor[colorEnum.black]!==undefined&&deltaTechColor[colorEnum.black]>0">
        <span *ngFor="let i of Arr(deltaTechColor[colorEnum.black]).fill(0)" class="icon has-text-white">
            <i class="far fa-circle"></i>
        </span>
    </div>
</div>