<div class="missingTech">
  <div *ngIf="deltaTechColor[colorEnum.red]!==undefined&&deltaTechColor[colorEnum.red]>0">
    <h3 style="color: red">{{deltaTechColor[colorEnum.red]}}</h3>
  </div>
  <div *ngIf="deltaTechColor[colorEnum.green]!==undefined&&deltaTechColor[colorEnum.green]>0">
    <h3 style="color: green">{{deltaTechColor[colorEnum.green]}}</h3>
  </div>
  <div *ngIf="deltaTechColor[colorEnum.yellow]!==undefined&&deltaTechColor[colorEnum.yellow]>0">
    <h3 style="color: yellow">{{deltaTechColor[colorEnum.yellow]}}</h3>
  </div>
  <div *ngIf="deltaTechColor[colorEnum.blue]!==undefined&&deltaTechColor[colorEnum.blue]>0">
    <h3 style="color: blue">{{deltaTechColor[colorEnum.blue]}}</h3>
  </div>
  <div *ngIf="deltaTechColor[colorEnum.black]!==undefined&&deltaTechColor[colorEnum.black]>0">
    <h3 style="color: white">{{deltaTechColor[colorEnum.black]}}</h3>
  </div>
</div>
