<mat-card appearance="outlined" *ngIf="!selectedFaction">
  <mat-card-header>
    <mat-card-title>Choose faction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-checkbox (change)="pokChange($event)">PoK</mat-checkbox>
    <mat-chip-listbox class="mat-mdc-chip-set-stacked">
      <mat-chip-option *ngFor="let race of races" (click)="raceClick_hdl(race)">
        <mat-chip-avatar>
          <mat-icon svgIcon="{{race.name.toLowerCase()}}" inline="true"></mat-icon>
        </mat-chip-avatar>
        <span>{{race.name}}</span>
      </mat-chip-option>
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>
<app-tech-picker [faction]="selectedFaction" [tech]="tech" *ngIf="selectedFaction"></app-tech-picker>