<nav class="navbar has-background-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="title has-text-grey-light" style="padding-left: 6px;">TI4 Tech Helper</h1>
    <button [ngClass]="{'is-active': hamburgerIsActive}" class="button navbar-burger is-dark" (click)="hamburgerClick()" style="margin-right: 13px;">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div [ngClass]="{'is-active': hamburgerIsActive}" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end has-background-dark" (click)="hamburgerClick()">
      <a class="navbar-item has-text-grey-light" routerLink="/">Choose Race</a>
      <a class="navbar-item has-text-grey-light" routerLink="/randomize">Randomize Races</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
