<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="title">TI4 Tech Helper</h1>
    <button [ngClass]="{'is-active': hamburgerIsActive}" class="button navbar-burger" (click)="hamburgerClick()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div [ngClass]="{'is-active': hamburgerIsActive}" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end" (click)="hamburgerClick()">
      <a class="navbar-item" routerLink="/">Choose Race</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
