<mat-card appearance="outlined" *ngIf="!races.length">
    <mat-card-header>
      <mat-card-title>Add Players</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="playerForm">
        <mat-form-field>
          <mat-label>Player Name</mat-label>
          <input #nameInput formControlName="name" matInput />
        </mat-form-field>
        <button type="submit" mat-mini-fab (click)="addPlayer(nameInput)">
          <mat-icon>add</mat-icon>
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <mat-checkbox (change)="pokChange($event)">PoK</mat-checkbox>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Players</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="players">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="faction">
          <th mat-header-cell *matHeaderCellDef> Faction </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon aria-hidden="false" svgIcon="{{element.race?.name?.toLowerCase()}}"></mat-icon> 
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="slice">
          <th mat-header-cell *matHeaderCellDef> Slice </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon *ngIf="element?.slice" aria-hidden="false">done</mat-icon> 
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button #shuffleButton type="button" mat-mini-fab (click)="shuffle(shuffleButton)">
        <mat-icon>shuffle</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <h2 *ngIf="incomplete()">It´s time for {{players[currentPosition].name}} to draft</h2>

  <mat-card appearance="outlined" *ngIf="!players[currentPosition]?.race">
    <mat-card-header>
      <mat-card-title>Faction to draft</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-listbox class="mat-mdc-chip-set-stacked">
        <mat-chip-option *ngFor="let race of races; let k = index" (click)="draftRace(k)">
          <mat-chip-avatar>
            <mat-icon svgIcon="{{race.name.toLowerCase()}}" inline="true"></mat-icon>
          </mat-chip-avatar>
          <span>{{race.name}}</span>
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" *ngIf="!players[currentPosition]?.position">
    <mat-card-header>
      <mat-card-title>Position to draft</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-listbox class="mat-mdc-chip-set-stacked">
        <mat-chip-option *ngFor="let position of positions; let i = index" (click)="draftPosition(i)">
          <span>{{position}}</span>
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" *ngIf="!players[currentPosition]?.slice">
    <mat-card-header>
      <mat-card-title>Slices to draft</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-listbox class="mat-mdc-chip-set-stacked">
        <mat-chip-option *ngFor="let slice of slices; let j = index" (click)="draftSlice(j)">
          <span>Slice</span>
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card>
  