<mat-card>
  <mat-card-header>
    <mat-card-title>Add Players</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="playerForm">
      <mat-form-field>
        <mat-label>Player Name</mat-label>
        <input #nameInput formControlName="name" matInput />
      </mat-form-field>
      <button type="submit" mat-mini-fab (click)="addPlayer(nameInput)">
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Players</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip *ngFor="let player of players">
        {{player}}
      </mat-chip>
    </mat-chip-list>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button #shuffleButton type="button" mat-mini-fab (click)="shuffle(shuffleButton)">
      <mat-icon>shuffle</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Factions to draft</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list class="mat-chip-list-stacked" [@faction]="state">
      <mat-chip *ngFor="let race of races">
        <mat-chip-avatar>
          <mat-icon svgIcon="{{race.name.toLowerCase()}}" inline="true"></mat-icon>
        </mat-chip-avatar>
        {{race.name}}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
