<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-checkbox formControlName="base">Base</mat-checkbox>
      <mat-checkbox formControlName="pok">Prophecy of Kings</mat-checkbox>
      <mat-checkbox formControlName="te">Thunder Edge</mat-checkbox>
      <br>
      <mat-form-field>
        <mat-label>Additional races for drafting</mat-label>
        <input matInput type="number" formControlName="additionalRaces" min="0" step="1">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
